

/* font-family: 'Montserrat', sans-serif;
font-family: 'Maitree', serif;
font-family: 'Overpass', sans-serif;
 */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style: none;
}



html {
    background-color:BACDB0;
}

main {
    font-family: 'Overpass', sans-serif;
    background-color: white;
    border: 1px solid white;
    border-radius: 10%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3{
    font-family: 'Maitree', serif;

}
h1{
    text-align: center;
    margin: 20px;
}

h3{
    margin-bottom:10px;
    font-weight: 600px;
}
fieldset{
    border:none;
    margin-bottom: 10px;
}

form{
    text-align: center
}

input{
    margin-left: 10px;
    width: 200px;
    height: 40px;
    font-size: inherit;
    font-style: italic;
}

legend {
    margin-bottom: 10px;
}
.search{
    width: 100px;
    height: 40px;
    font-size: inherit;
    border-radius: 10%;
}

.results-screen {
    text-align: center;
}
 
p {
    text-align: left;
    margin-left: auto;
    margin-right:auto;
    font-size: 20px;
    width: 85%;
   
}
.init-text {
    display: block;
    text-align: center;
}

.video-results, .twitch-results {
    margin: 20px;
}

.game-info{
    margin:20px;
    text-align: center;
}

img{
    width: 75%;
    opacity: 0.9;
    position: relative;
}




li {
    margin:10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
}

iframe{
    width: 80%;
    border-radius:5%;
}

.gamerSRC{
    font-weight: 800;
    font-size: 45px;
}


.result {
    cursor: pointer;
}

.result {
    color:blue;
}

.platform {
    margin: 2px;
    font-weight: 300;
}

.title{
    font-weight: 700;
    font-size:30px;
    margin-bottom:14px;
}

.search-results{
    animation: 2s ease-out 0s 1 slideInFromLeft;
    /* background: #333; */
    padding: 30px;
    text-align: center
}

.livestream-message{
    text-align: center;
}

.legend-text{
    font-style: italic;
}



/*medium!*/

@media only screen and (min-width:650px){
  
  }
  
  
  
  
  /*large!*/
  @media only screen and (min-width: 992px){
    .videos{
        margin-top: 75px;
        display: flex;
        justify-content: space-evenly;
        clear:right;

    }

    .info-list{
        float: right;
        text-align: left;
    }
    
    .video-results, .twitch-results {
        margin: 0px;
    }

    .screenshot{
        height: 80%;
        width: 90%;
    }
    iframe{
       min-width: 450px;
       max-width: 600px;
    }

    main{
        min-height: 800px;
    }

    li{
        text-align: left;
    }
  
  }


/* $color1: hsla(0%, 0%, 100%, 1); white
$color2: hsla(325%, 31%, 19%, 1); dark purple
$color3: hsla(244%, 62%, 70%, 1); bright purple
$color4: hsla(303%, 22%, 35%, 1); deep purple
$color5: hsla(0%, 31%, 88%, 1);

/* RGB */
/* $color1: rgba(255, 255, 255, 1);
$color2: rgba(65, 34, 52, 1);
$color3: rgba(138, 132, 226, 1);
$color4: rgba(109, 70, 107, 1);
$color5: rgba(234, 215, 215, 1); */