* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    background-color: BACDB0;
}

main {
    font-family: 'Overpass', sans-serif;
    background-color: white;
    border: 1px solid white;
    border-radius: 8%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

button {
    background-color: white;
}

.first-text, .last-text {
    text-align: center;
}


h1,h2,h3 {
    font-family: 'Maitree', serif;

}

h1 {
    text-align: center;
    margin: 20px;
}

h3 {
    margin-bottom: 10px;
    font-weight: 600px;
}

fieldset {
    border: none;
    margin-bottom: 10px;
}

form {
    text-align: center
}

input {
    margin-left: 10px;
    width: 200px;
    height: 40px;
    font-size: inherit;
    font-style: italic;
}

legend {
    margin-bottom: 10px;
    width:100%;
}

.search {
    width: 100px;
    height: 40px;
    font-size: inherit;
    border-radius: 10%;
}

.results-screen {
    text-align: center;
}

p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 22px;
    width: 85%;

}

.init-text {
    display: block;
    text-align: center;
}

.video-results, .twitch-results {
    margin: 20px;
}

.game-info {
    margin: 20px;
    text-align: center;
}

img {
    width: 70%;
    height: auto;
    opacity: 0.9;
    border: 1px solid grey;
}




li {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
}

iframe {
    width: 100%;
    height: 35%;
    border-radius: 5%;
}

.gamerSRC {
    font-weight: 800;
    font-size: 45px;
}


.result {
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: blue;
}

.result:hover {
    color: rgb(65, 171, 206);
    font-size: 20px;
}

.platform {
    margin: 2px;
    font-weight: 300;
}

.title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 14px;
}

.livestream-message {
    text-align: center;
}

.legend-text {
    font-style: italic;
}

.info-list {
    border: 1px solid black;
    border-radius: 10px;
    background-color: BACDB0;
    margin-bottom: 10px;
}

@media only screen and (min-width:650px) {
    main {
        font-size: 20px;
    }

    p {
        line-height: 24px;

    }
}

@media only screen and (min-width: 992px) {
    .videos {
        margin-top: 75px;
        display: flex;
        justify-content: space-evenly;
        clear: right;

    }

    .info-list {
        float: right;
        text-align: left;
        margin-left: 20px;
    }

    .video-results,
    .twitch-results {
        margin: 0px;
    }

    .screenshot {
        height: 60%;
        width: 80%;
    }

    iframe {
        min-width: 450px;
        max-width: 600px;
        min-height: 300px;
    }

    main {
        min-height: 800px;
    }

    li {
        text-align: left;
    }

    .videos {
        height: 400px;
    }

}
